@import "../../../styles/common";
.yt-banner-video {
  border-radius: 1rem;
  overflow: hidden;
  height: 25rem;
  max-width: 35rem;
  margin: 0 auto;
  padding: 2rem;
  @media screen and (max-width: 540px) {
    height: auto;
    padding: 0.5rem;
  }
}

.raddx-hero-section {
  position: relative;
  padding-bottom: 1rem;
  background: #000;
  min-height: 22rem;
  height: 100%;
  &::before {
    content: "";
    background: #000000bf;
    position: absolute;
    inset: 0;
    z-index: 1;
    @media screen and (max-width: 767px) {
      content: unset;
    }
  }

  .video-content {
    position: sticky;
    z-index: 100;
    display: flex;
    padding: 1rem 1rem;
    top: 100%;
    max-width: 55rem;
    margin: auto;
    z-index: 3;
    justify-content: space-between;
    .content-text {
      h4 {
        font-size: 1.6rem !important;
        font-weight: 700;
        font-family: $hubolt-sans-bold-narrow;
      }
      .trailer-desc {
        margin: 0;
        font-size: 0.8rem;
        max-width: 34rem;
      }
    }
    .content-button {
      .watch-btn {
        border: 1px solid #48094c80;
        border-radius: 0.3rem;
        background: transparent
          linear-gradient(139deg, #34268d 0%, #a5207c 100%) 0% 0% no-repeat
          padding-box;
        color: #fff;
        font-size: 0.65rem;
        white-space: nowrap;
        padding: 0.7rem 1rem;
        font-weight: 600;
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          margin-right: 0.4rem;
        }
      }
    }
  }
  .raddax-video-container {
    position: relative;
    z-index: 1;
  }
  .raddx-hero-banner-video {
    width: 100%;
    position: absolute;
    height: auto;
    opacity: 1;
    transition: opacity 500ms ease-out;
    //   z-index: 100;
  }

  .yt-banner-desc {
    text-align: center;
    color: #ffff;
    padding: 1rem;
    h4 {
      font-size: 1.1rem;
      margin-bottom: 1.5rem;
    }
    h6 {
      font-size: 0.85rem !important;
      font-weight: 400;
      margin-bottom: 1rem;
      position: relative;
      display: table;
      margin: 0 auto 1rem;
      padding-bottom: 0.8rem;
      &::before {
        content: "";
        position: absolute;
        top: 100%;
        height: 0.08rem;
        width: 1.5rem;
        background: #e6d44e;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
}
