@import "../../styles/common";

.bid-auction {
  // background-color: black;
  background-color: #1c011e;
  color: white;
  border-radius: 0.5rem;
  padding: 1.5rem 1.5rem;
  min-height: calc(100vh - 10rem) !important;
  position: relative;
  overflow: hidden;
  @media screen and (min-width: 3066px) {
    min-height: calc(100vh) !important;
  }
  @media screen and (max-width: 1440px) {
    min-height: calc(100vh - 6rem) !important;
  }
  .bid-auction-content {
    // font-weight: 600;
    // font-size: 3.5rem;
    // line-height: normal;
    font-weight: 800;
    font-size: 2.9rem;
    line-height: 1.1;
    margin-bottom: 2rem;

    .bought_nft {
      font-size: 2rem;
      margin-top: 3rem;
    }
  }

  .bid-aution-bottom {
    position: sticky;
    top: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1rem;
    border-bottom: 2px solid #48094c;

    .bottom-title {
      font-weight: 600;
      font-size: 0.8rem;
      color: #ffffff8c;
    }
    .bottom-time {
      .counter-time {
        font-size: 1.9rem !important;
      }

      .counter-interval {
        font-size: 0.9rem !important;
        font-weight: 400;
      }

      .interval-gap {
        margin-right: 0.7rem !important;
      }

      .ended-count-value {
        font-weight: 600;
        font-size: 2.25rem;
      }
    }

    .bottom-recharge-btn {
      padding: 0.3rem 0.8rem;
      background: red;
      border-color: red !important;
      font-size: 0.8rem !important;
      font-weight: 600 !important;
    }
  }
}
