@import "../../../styles//common";

.raddax-hero {
  background: url("https://cdn.guardianlink.io/product-hotspot/images/raddx/Raddx-banner_BG.webp");
  color: #fff;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  overflow: hidden;
  @media screen and (max-width: 991px) {
    background: #000;
    min-height: unset;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .mobile-content-img {
    display: none !important;
    @media screen and (max-width: 991px) {
      display: block !important;
    }
  }

  .btn-block {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .hero-cntnt-img {
      width: 100%;
      max-width: 51rem;
      margin-bottom: 1.5rem;
      margin-top: 3rem;
    }

    .button-grp {
      position: relative;
      padding: 2rem 0;
      width: 100%;
      max-width: 13rem;
      // max-width: 26rem;
      margin: auto;

      button {
        font-weight: 700;
        font-size: 0.65rem;
        width: 100%;
        margin: 0.5rem;
        padding: 0.7rem;

        &.background-clr-1 {
          border: none;
          border: none;
          background: #ffeb56;
          color: #000 !important;
        }
      }
    }

    @media screen and (max-width: 991px) {
      box-shadow: 0rem 0rem 4rem 3rem #000;
      position: relative;
      top: -2rem;
      background: #000;
      width: 100%;
      max-width: unset;

      .hero-cntnt-img {
        display: none;
      }

      .button-grp {
        padding: 1rem;
        margin: 1rem auto;
        position: static;
        max-width: 18rem;

        button {
          font-weight: 600;
          font-size: 0.8rem;
          width: 100%;
          margin: 0.5rem;

          &:first-child {
            border: 0.05rem solid #49094c;
          }
        }
      }
    }
  }
  &.raddx-banner-box {
    background: url("https://cdn.guardianlink.io/product-hotspot/images/jumptrade/Jump-Page_Raddx-banner_BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
    @media screen and (max-width: 991px) {
      padding-top: 4rem;
    }
    .img-block {
      width: 50%;
      padding: 1rem;
      &.left {
        width: 35%;
        @media screen and (max-width: 767px) {
          width: 50% !important;
        }
        @media screen and (max-width: 540px) {
          width: 50% !important;
        }
        @media screen and (max-width: 425px) {
          width: 60% !important;
        }
      }
      &.right {
        width: 55%;
        @media screen and (max-width: 991px) {
          width: 80% !important;
        }
        @media screen and (max-width: 767px) {
          width: 80% !important;
          padding-bottom: 2rem;
        }
        @media screen and (max-width: 540px) {
          width: 80% !important;
        }
        @media screen and (max-width: 425px) {
          width: 90% !important;
        }
      }
    }
  }
}

.hero-carousel {
  background-color: #000 !important;

  &.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #869791;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
  }
  &.owl-theme .owl-dots .owl-dot.active span,
  &.owl-theme .owl-dots .owl-dot:hover span {
    background: #ea337f;
  }
  &.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
