@import "../../../styles/common";

.our-investor-section {
  position: relative;
  display: block;
  background-color: #000000;
  padding: 3rem 0 0rem;
  min-height: auto;
  overflow: hidden;
  .sectionHeading {
    font-family: $hubolt-sans-bold-narrow;
    font-size: 1.8rem !important;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 1rem;
    line-height: 1.35;
    letter-spacing: 0.08rem;
  }
}

section.investor-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  .investor-member {
    width: 33.33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: 991px) {
      width: 50%;
    }
    @media screen and (max-width: 480px) {
      width: 100%;
    }
    .investor-member-img {
      height: 8rem;
      width: 8rem;
      overflow: hidden;
      border-radius: 50%;
      background: #ea337f;
      padding: 0.2rem;
      margin-top: 2rem;
      img {
        border-radius: 50%;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        background-color: #19031a;
      }
    }

    .investor-member-name-desc {
      padding: 1rem 2rem;
      min-height: 16rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      @media screen and (max-width: 991px) {
        min-height: 15rem;
      }
      @media screen and (max-width: 480px) {
        min-height: unset;
      }

      .investor-member-name {
        color: #ffffff;
        font-family: $Impact;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.1;
      }
      .investor-member-desc {
        font-size: 0.65rem;
        color: #ffffff;
        font-weight: 400;
        line-height: 1.3;
      }
    }
  }
}
