@import "../../../styles/common";

.cricket-header-section.transparent-header {
  position: absolute;
  width: 100%;
  z-index: 12;
  background-color: var(--ck-black);
  transition-property: background-color;
  background: transparent
    linear-gradient(360deg, #00000000 0%, #10140db3 47%, #0b1712 100%) 0% 0%
    no-repeat padding-box;
  padding: 1rem 0;

  .logo {
    margin-right: 1rem;

    a {
      display: flex;
      align-items: center;

      .guardian-link-brand {
        display: inline-flex;
        font-size: 0.6rem;
        margin-left: 0.5rem;
        color: #9aeb01;
        font-family: $nunito-sans;
        white-space: nowrap;

        @media screen and (max-width: 480px) {
          font-size: 0.6rem;
        }

        span {
          margin-right: 0.5rem;
          color: #ffffff;
        }
      }
    }

    img {
      // height: 1.7rem !important;
      max-width: 6.2rem;
    }
  }

  .header-menu {
    width: calc(80% - 15rem);
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: 991px) {
      display: none !important;
    }

    .nav-menu {
      margin-bottom: var(--ck-margin-zero);
      list-style: outside none none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        overflow: visible;
        position: relative;
        margin: 0 0.5rem;

        a {
          &#drop_outer {
            padding: 0.5rem 1.5rem;
            padding: 0.4rem 1.2rem;
            margin-right: 0.3rem;
            border: solid 1px transparent !important;

            &:hover,
            &:focus,
            &:active {
              border: solid 1px #ec7c49 !important;
              background: transparent;
              color: #ec7c49 !important;
            }
          }

          font-size: 0.7rem !important;
          display: block;
          color: #ffffff;
          font-weight: 600;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          white-space: nowrap;
          font-size: 1.2rem;

          &:hover,
          &:focus,
          &:active {
            color: var(--ck-theme);
          }
        }
      }

      .drop-dropdown {
        display: inline-block;
        overflow: visible;
        position: relative;
        margin: 0 0.5rem;

        font-size: 0.5rem !important;
        text-transform: uppercase;
        display: block;
        color: #ffffff80;
        font-weight: var(--font-weight-600);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-family: $nunito-sans;
        white-space: nowrap;

        &:hover,
        &:focus,
        &:active {
          color: var(--ck-theme);
        }
      }
    }
  }

  .cricket-btn-area {
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      margin-bottom: var(--ck-margin-zero);
      align-items: center;

      .nav-expander {
        @media only screen and (min-width: 992px) {
          display: none;
        }

        .bar span {
          height: 2px;
          display: block;
          background: var(--ck-theme) !important;
          transition: all 0.5s ease;
          cursor: pointer;

          list-style: none;

          &.dot1 {
            width: 1rem;
            margin-bottom: 0.3rem;
          }

          &.dot2 {
            width: 1.3rem;
            margin-bottom: 0.3rem;
          }

          &.dot3 {
            width: 1.5rem;
          }
        }
      }

      li {
        display: inline-block;
        position: relative;
        list-style: none;

        &.for-mobile-signup-btn {
          @media screen and (min-width: 992px) {
            display: none !important;
          }

          .readon {
            margin-left: 0rem;
            margin-right: 1rem;
          }
        }

        &.social_nav_header {
          @media screen and (min-width: 992px) {
            display: none !important;
          }

          .signin-button {
            padding: 0 !important;
            width: auto !important;
            border: none !important;
            min-width: unset;
          }

          a.social_link {
            img {
              height: 1.5rem;
              width: 1.5rem;
              margin-right: 1rem;
            }
          }
        }

        .readon {
          padding: 0.4rem 1.2rem !important;
          border-radius: 50rem;
          font-weight: 400;
          margin-left: 0.5rem;
          min-width: 4rem;
          text-align: center;
          position: relative;
          transition: all 0.4s ease-in-out;
          display: flex;
          align-items: center;
          justify-content: center;
          background: transparent !important;
          border: 0.05rem solid #ec7c49 !important;
          color: #ec7c49 !important;

          &.no-border {
            color: #ec7c49 !important;
            border: none !important;
            padding: 0 !important;
            min-width: unset;
          }

          &.dc-btn {
            padding: 0.4rem 0.4rem !important;
            min-width: unset;
            height: 1.7em;
            width: 1.7em;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ec7c49 !important;

            @media screen and (max-width: 991px) {
              margin-right: 0.8rem;
            }
          }

          span {
            white-space: nowrap;
            font-size: 0.6rem;
            font-weight: 600;
          }

          &:hover {
            background: #ec7c49;
            color: #000;
          }

          &.filled-btn {
            background: #ec7c49;
            color: #000;

            &:hover {
              background: #091d16;
              color: #ffffff;
            }
          }
        }
      }
    }
  }

  .right_menu_togle {
    background: #020c0f !important;
    padding: 2rem 1rem;
    max-width: 320px;
    width: 100%;
    right: -100%;
    z-index: 999;
    transition: all 0.3s ease;
    position: fixed;
    overflow-y: auto;
    bottom: 0;
    top: 0;

    &.open {
      right: 0 !important;
    }

    .close-btn {
      overflow: visible;
      position: absolute;
      top: 2rem;
      display: block;
      z-index: 99;
      right: 2rem;
      cursor: pointer;
      transition: all 0.3s ease;

      .line {
        width: 1rem;
        height: 1rem;
        line-height: 1rem;

        span {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
          width: 3px !important;
          height: 28px !important;
          background: #ec7c49;
          border: none !important;
          transition: all 0.3s ease;

          &.line2 {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }
    }

    ul.nav-menu {
      margin-top: 2rem;
    }

    .sidebar-logo {
      img {
        height: 3rem;
        margin: 2.5rem auto 1rem;
        display: table;
      }
    }
  }

  .mobile-navbar-menu {
    .nav-menu {
      margin-bottom: var(--ck-margin-zero);
      list-style: outside none none;
      margin: 0;
      padding: 0;

      li {
        position: relative;

        a {
          border-bottom: 1px solid rgba(0, 0, 0, 0.06);
          display: block;
          color: #ffffff;
          padding: 0.8rem 0.5rem;
          line-height: 1.3;
          width: 100%;
          font-size: 1rem;
        }

        .readon.black-shape-big.connectWalletBtnforMobile {
          @media screen and (min-width: 481px) {
            display: none !important;
          }
        }

        .social_nav_header_sidemenu {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-top: 1rem;

          .social_link {
            background: var(--theme-green);
            height: 2rem;
            width: 2rem;
            display: inline-flex;
            border-radius: 50%;
            margin-right: 0.7rem;
            color: var(--theme-secondary-green);
            font-size: 1rem;
            align-items: center;
            justify-content: center;

            &:first-child {
              margin-left: 0;
            }

            img {
              max-width: 1rem;
              height: auto;

              &.change-my-color {
                fill: var(--theme-yellow);
              }
            }
          }
        }
      }
    }
  }
}

.cricket-header-section {
  .heaader-inner-area ul li.buy-token,
  .header-menu {
    @media only screen and (max-width: 991px) {
      display: none;
    }
  }
}

.dflex-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  ul.nav-menu {
    display: flex;
  }
}

.header-background {
  background-color: #091d15 !important;
}

header#cricket-header {
  @media screen and (max-width: 1023px) {
    // background: #091d15;
  }
}

.beta-container {
  position: relative;

  .beta-tag {
    position: absolute;
    right: 0;
    background-color: #ec7c49;
    color: #091d15;
    font-weight: 600;
    font-size: 0.4rem;
    bottom: -0.2rem;
    border-radius: 50rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
}

.mobile-beta-container {
  position: relative;

  .mobile-beta-tag {
    position: absolute;
    left: 1.5rem;
    background-color: #ec7c49;
    color: #091d15;
    font-weight: 600;
    font-size: 0.5rem;
    bottom: 0.2rem;
    border-radius: 50rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
}

.dropbtn {
  // background-color: #04aa6d;
  color: #878a89;
  padding: 16px;
  font-size: 16px;
  border: none;
  font-family: $nunito-sans;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f5f3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(8, 8, 8);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(219, 241, 13);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  // background-color: #3e8e41;
}

.dropdown-menu {
  min-width: 10rem;
  padding: 0.5rem;
  margin-top: 0 !important;
  background: #0e0e1c;
  color: #fff;
  border: 1px solid #0e0e1c;
  font-weight: 600;
}

.dropdown-menu .dropdown-item {
  font-size: 0.7rem;
  font-weight: 400;
  border-radius: 0.2rem;
  margin: 0;
  color: #fff;
}

.pre-btn {
  outline: none !important;
  color: #ec7c49 !important;
  -webkit-animation: flickerAnimation 1.5s infinite;
  animation: flickerAnimation 1.5s infinite;

  .new-badge {
    background: #ec834d;
    padding: 0.1rem 0.3rem;
    border-radius: 50rem;
    text-transform: uppercase;
    color: #0a0a0e;
    font-size: 0.4rem;
    font-weight: 600;
    position: relative;
    top: -0.5rem;
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 0.9;
    // background-color: #009cde;
    // border: 1px solid #009cde;
    color: #fff !important;
    transform: scale(0.9);
  }

  50% {
    opacity: 1;
    // background-color: #ff3e92;
    // border: 1px solid #ff3e92;
    color: #000 !important;
    transform: scale(0.95);
  }

  100% {
    opacity: 0.9;
    // background-color: #009cde;
    // border: 1px solid #009cde;
    color: #fff !important;
    transform: scale(0.9);
  }
}

// .cricket-btn-area {
//   ul {
//     list-style: none;
//   }
// }

.buy-token {
  .readon {
    padding: 0.4rem 1.2rem !important;
    border-radius: 50rem;
    font-weight: 400;
    margin-left: 0.5rem;
    min-width: 4rem;
    text-align: center;
    position: relative;
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent !important;
    border: 0.05rem solid #ec7c49 !important;
    color: #ec7c49 !important;

    &.dc-btn {
      padding: 0.4rem 0.4rem !important;
      min-width: unset;
      height: 1.7em;
      width: 1.7em;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ec7c49 !important;

      @media screen and (max-width: 991px) {
        margin-right: 0.8rem;
      }
    }

    span {
      white-space: nowrap;
      font-size: 0.6rem;
      font-weight: 600;
    }

    &:hover {
      background: #ec7c49;
      color: #000;
    }

    &.filled-btn {
      background: #ec7c49;
      color: #000;

      &:hover {
        background: #091d16;
        color: #ffffff;
      }
    }
  }
}
