@import "../../styles/common";
.sensational-nft-section {
  position: relative;
  padding: 2rem 1rem 3.5rem;
  background-color: #0c0d1d;
  overflow: hidden;
  background-size: cover;
  background-position: top center;
  color: #fff;

  @media screen and (max-width: 767px) {
    background-position: left center;
  }

  &:before {
    content: "";
    background: linear-gradient(88deg, #00000063 8%, #ffeff754 90%);
    mix-blend-mode: multiply;
    position: absolute;
    inset: 0 0 0 0;
    backdrop-filter: blur(0.5rem);
  }

  .sec-heading {
    padding: 0rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 36rem;

    text-align: center;
    margin: 0 auto 0;

    @media screen and (max-width: 540px) {
      max-width: 31rem;
    }

    h4 {
      line-height: 1.25;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      margin: 0 0 1rem;
      font-family: $hubolt-sans-bold-narrow;
      font-size: 1.8rem !important;
      font-weight: 700;
      letter-spacing: 0.08rem;
      @media screen and (max-width: 767px) {
        font-size: 1.5rem;
      }
    }

    p {
      color: #ffffffcc;
      font-size: 0.8rem;
      max-width: 22rem;
    }
  }

  .step-info-block {
    position: relative;
    display: flex;
    list-style: none;
    margin: 1rem auto 4rem;
    justify-content: center;
    text-align: center;

    @media screen and (max-width: 500px) {
      margin: 1rem auto 2rem;
    }

    li {
      width: 100%;
      max-width: 8rem;
      position: relative;

      &:before {
        // content: "";
        // width: 3.5rem;
        // height: 0.1rem;
        // position: absolute;
        // background: linear-gradient(90deg, transparent 50%, #223049 0),
        //   linear-gradient(90deg, #fff, #fff);
        // background-size: 0.8rem 2px, 100% 0.1rem;
        // left: calc(100% - 2.5rem);
        // bottom: 70%;
        content: "";
        width: 3.5rem;
        height: 0.1rem;
        position: absolute;
        background: linear-gradient(90deg, transparent 50%, #00000085 0),
          linear-gradient(90deg, #fff, #fff);
        background-size: 0.8rem 2px, 100% 0.1rem;
        left: calc(100% - 1.5rem);
        bottom: 78%;

        @media screen and (max-width: 520px) {
          width: 28%;
          left: calc(100% - 1.1rem);
        }
      }

      &:last-child {
        &:before {
          content: unset;
        }
      }

      img {
        height: 2.5rem;
        width: 2.5rem;
        margin-bottom: 1rem;
      }

      h5 {
        max-width: 8rem;
        margin: auto;
        font-size: 0.7rem;
        font-weight: 400;
        width: 100%;
        color: #ffffffcc;
      }
    }
  }

  .sensational-nft-swiper {
    overflow: visible;

    .nft-car-cards {
      position: relative;
      border-radius: 1rem;
      overflow: hidden;
      width: 92%;
      margin: auto;

      .img-block {
        height: 11rem;
        width: 100%;
        position: relative;
        background-position: center;
        background-size: cover;

        &::before {
          content: "";
          position: absolute;
          inset: 0 0 0 0;
        }

        .title {
          display: flex;
          flex-direction: column;
          font-size: 0.85rem;
          text-transform: uppercase;
          position: relative;
          padding: 1rem;
        }
      }

      .content-block {
        padding: 1rem 0.8rem;
        min-height: 4rem;

        h6 {
          //font-family: $hubolt-sans-bold-narrow;
          margin: 0;
          font-size: 0.7rem;
          line-height: 1.3;
          margin-bottom: 0;
          @media screen and (max-width: 499px) {
            font-size: 0.9rem;
          }

          span {
            //font-family: $proxima-nova;
            font-weight: 400;
            padding: 0 0.1rem;
          }
        }
      }

      &.red-card {
        background: #8c261a;

        .img-block {
          &::before {
            background-image: linear-gradient(138deg, #9a2300, #1912c600);
          }
        }
      }

      &.yellow-card {
        background: #9f6800;

        .img-block {
          &::before {
            background-image: linear-gradient(138deg, #9f6800, #1912c600);
          }
        }
      }

      &.green-card {
        background: #008b1d;

        .img-block {
          &::before {
            background-image: linear-gradient(
              138deg,
              #008b1d,
              #3b816978,
              #1912c600
            );
          }
        }
      }

      &.blue-card {
        background: #0a28d9;

        .img-block {
          &::before {
            background-image: linear-gradient(138deg, #0021d9, #1912c600);
          }
        }
      }

      &.orange-card {
        background: #e26800;

        .img-block {
          &::before {
            background-image: linear-gradient(138deg, #e26800, #1912c600);
          }
        }
      }
    }
  }

  .swiper-slide:nth-child(odd) {
    margin-top: -2rem;
    @media screen and (max-width: 500px) {
      margin-top: 0;
    }
  }
  .swiper-pagination.swiper-pagination-bullets-dynamic.swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -3rem;
  }
}
