@import "../../../styles/common";
section.brand-enquiry-section {
  min-height: calc(100vh - 0rem);
  position: relative;
  padding: 4.5rem 3rem 1rem;
  background: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: transparent linear-gradient(104deg, #0c0c10 0%, #181727 100%) 0%
    0% no-repeat padding-box;
  background: #0c0c10;

  @media screen and (max-width: 767px) {
    justify-content: center;
    flex-direction: column;
    padding: 0;
  }

  @media screen and (max-width: 479px) {
    justify-content: flex-start;
  }
  .bgImageSet {
    // animation: brand-enquiryBGchange 10s infinite;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    // background-image: url("https://cdn.guardianlink.io/product-hotspot/images/raddx/brand-enquiry-bg6.jpg");
    background-image: url("https://cdn.guardianlink.io/product-hotspot/images/raddx/Raddx-brand-enquiry-bg.jpg");

    position: absolute;
    inset: 0;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 0;
      opacity: 0.4;
      background: transparent linear-gradient(241deg, #e1915e 0%, #a5207c 100%)
        0% 0% no-repeat padding-box;
      background: transparent linear-gradient(68deg, #3e258b 0%, #9f217c 100%)
        0% 0% no-repeat padding-box;
    }

    @media screen and (max-width: 767px) {
      position: relative;
      min-height: 26rem;
      width: 100%;
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        opacity: 1;
        background: linear-gradient(3deg, #0c0c10 13%, transparent 58%);
        background: linear-gradient(3deg, #0c0c10 13%, #6725865e 58%);
      }
    }
    @media screen and (max-width: 580px) {
      min-height: 28rem;
      top: 0 !important;
    }
  }
  // @keyframes brand-enquiryBGchange {
  //   0% {
  //     background-image: url("https://cdn.guardianlink.io/product-hotspot/images/raddx/brand-enquiry-bg6.jpg");
  //   }
  //   50% {
  //     background-image: url("https://cdn.guardianlink.io/product-hotspot/images/raddx/brand-enquiry-bg2.jpg");
  //   }
  //   100% {
  //     background-image: url("https://cdn.guardianlink.io/product-hotspot/images/raddx/brand-enquiry-bg6.jpg");
  //   }
  // }
  // @keyframes brand-enquiryBGchange {
  //   0%,
  //   100% {
  //     background-image: url("https://cdn.guardianlink.io/product-hotspot/images/raddx/brand-enquiry-bg1.jpg");
  //   }
  //   13% {
  //     background-image: url("https://cdn.guardianlink.io/product-hotspot/images/raddx/brand-enquiry-bg2.jpg");
  //   }
  //   26% {
  //     background-image: url("https://cdn.guardianlink.io/product-hotspot/images/raddx/brand-enquiry-bg3.jpg");
  //   }
  //   39% {
  //     background-image: url("https://cdn.guardianlink.io/product-hotspot/images/raddx/brand-enquiry-bg4.jpg");
  //   }
  //   52% {
  //     background-image: url("https://cdn.guardianlink.io/product-hotspot/images/raddx/brand-enquiry-bg5.jpg");
  //   }
  //   65% {
  //     background-image: url("https://cdn.guardianlink.io/product-hotspot/images/raddx/brand-enquiry-bg6.jpg");
  //   }
  //   78% {
  //     background-image: url("https://cdn.guardianlink.io/product-hotspot/images/raddx/brand-enquiry-bg7.jpg");
  //   }
  //   91% {
  //     background-image: url("https://cdn.guardianlink.io/product-hotspot/images/raddx/brand-enquiry-bg8.jpg");
  //   }
  // }

  .brand-enquiry-form-block {
    max-width: 20rem;
    width: 100%;
    @media screen and (max-width: 767px) {
      padding: 2rem 1rem 2rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -12rem;
    }
    @media screen and (max-width: 375px) {
      margin-top: -13rem;
    }

    article.brand-enquiry-form {
      position: relative;
      max-width: 20rem;
      width: 100%;
      border-radius: 1.5rem;
      .brand-enquiry-form-header {
        background: transparent linear-gradient(96deg, #38258c 0%, #a1207c 100%)
          0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 1rem #00000099;
        border-radius: 1.2rem 1.2rem 0px 0px;
        padding: 0.8rem 1.5rem;

        h5 {
          margin: 0;
          font-size: 0.85rem;
          color: #fff;
        }
      }
      .brand-enquiry-form-body {
        border-radius: 0 0 1.2rem 1.2rem;
        padding: 0.8rem 1.5rem;

        background-color: #ffffff;
        .brand-enquiry-input-block {
          .input-block {
            margin-bottom: 0.5rem;
            label {
              color: #000;
              font-weight: 600;
              margin-bottom: 0;
              font-size: 0.65rem;
            }
            input {
              box-shadow: none !important;
              outline: 0 !important;
              padding: 0.4rem;
              height: 1.8rem;
              border: 0.04rem solid #9c9c9bbf;
              font-size: 0.75rem !important;
              font-weight: 400 !important;
            }
            .select {
              box-shadow: none !important;
              outline: 0 !important;
              padding: 0.4rem;
              height: 1.8rem;
              border: 0.04rem solid #9c9c9bbf;
              font-size: 0.75rem !important;
              font-weight: 400 !important;
              appearance: auto;
            }
          }
          .button-block {
            margin: 1rem 0 0.5rem;
            .brand-enquiry-btn {
              // max-width: 14rem;
              width: 100%;
              border-radius: 2rem;
              font-size: 0.7rem;
              font-weight: 700;
              text-transform: uppercase;
              padding: 0.5rem 1.8rem;
              border: none;
              background: #ea337f;
              color: #fff;
              background: linear-gradient(90deg, #34268d 0%, #a5207c 100%) 0% 0%
                no-repeat padding-box;

              &:hover,
              &:focus,
              &:active {
                background: linear-gradient(90deg, #a5207c 0%, #34268d 100%) 0%
                  0% no-repeat padding-box;
              }
            }
          }
        }
      }
    }
  }
}
.err-text {
  font-size: 0.5rem !important;
  color: red;
}
@mixin flex-row {
  display: flex;
  align-items: center;
}

@mixin flex-row-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin modal-raddx-header {
  color: white;
  box-shadow: 0px 0px 16px #00000099;
  border: 0px solid #a5207c;
  border-radius: 1rem 1rem 0 0;
  background: linear-gradient(90deg, #34268d 0%, #a5207c 100%) 0% 0% no-repeat
    padding-box;
  .modal-title {
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
    margin: 0;
    letter-spacing: 0.02rem;
  }
}

@mixin gradient-button {
  max-width: 14rem;
  width: 100%;
  border-radius: 2rem;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem 1.8rem;
  border: none;
  background: #ea337f;
  color: #fff;
}
@mixin base-raddx-model {
  overflow: hidden;
  border-radius: 1.5rem;

  &-header {
    @include modal-raddx-header;
  }

  &-body {
    border-radius: 0 0 1.5rem 1.5rem;
    @include flex-column;
    .content-top,
    .content-bottom {
      padding: 0.3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .content-top {
      svg {
        font-size: 3rem;
        margin-bottom: 0.5rem;

        color: #99207d;
      }
      h4 {
        color: #00000059;
        font-weight: 400;
        font-size: 0.85rem;
      }
    }
    .content-bottom {
      margin-top: 1rem;
      h6 {
        font-size: 0.6rem;
        color: #00000059;
        font-weight: 400;
      }
      .schedule-btn {
        cursor: pointer;
        width: 100%;
        border-radius: 2rem;
        font-size: 0.65rem;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0.5rem 1.8rem;
        border: none;
        background: #ea337f;
        color: #fff;
        text-align: center;
        background: linear-gradient(90deg, #34268d 0%, #a5207c 100%) 0% 0%
          no-repeat padding-box;
        max-width: 12rem;

        &:hover,
        &:focus,
        &:active {
          background: linear-gradient(90deg, #a5207c 0%, #34268d 100%) 0% 0%
            no-repeat padding-box;
        }
      }
      .cancel-btn {
        margin: 0.5rem 0 0;
        font-size: 0.8rem;
        text-decoration: underline;
        color: #3b268c;
        cursor: pointer;
      }
    }

    .link {
      &.link-orange {
        color: var(--ck-theme);
      }

      &.link-blue {
        color: var(--bs-blue);
      }

      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &.link-disabled {
        color: var(--bs-gray-500);
        cursor: default;
        text-decoration: none;
      }
    }

    .input-block {
      color-scheme: none;
      position: relative;
      @include flex-column;
      margin-bottom: 1rem !important;

      .link {
        align-self: flex-end;
      }

      .error-text {
        font-size: 0.8rem;
        color: #f21e00;
        margin-bottom: 0.25rem !important;
      }

      p {
        font-size: 0.75rem;
      }

      h5 {
        font-weight: 600;
        font-size: 1rem;
        width: 100%;
        word-break: break-all;
      }
    }

    p {
      font-size: 0.75rem;
      margin: 0.4rem 0;
    }

    .input-block-row {
      @include flex-row;
      color-scheme: none;
      // gap: 0.5rem;
      margin-bottom: 0.3rem;

      &.valign-top {
        align-items: flex-start;
      }

      p,
      h6 {
        margin-bottom: 0;
        font-weight: 400;
        font-size: 0.8rem;
      }

      label {
        margin: 0;
      }

      .asset-label {
        cursor: pointer;
      }

      .quantity-counter {
        padding: 0rem 0.5rem;
        max-width: 3.5rem;
        // text-align: end;
        margin-bottom: 0.5rem;
        font-size: 1.2rem !important;
        height: auto !important;
        line-height: 0;
        border: 1px solid #c0c0c0;
        border-radius: 0.3rem;
      }
    }

    .button-block {
      // margin: 1rem 0;
      @include flex-row-center;

      button {
        @include gradient-button;
      }
    }
  }
}

.brand-enquiry-thanks-modal {
  @include base-raddx-model;

  .input-block-row {
    .change {
      align-self: flex-end;
    }
  }
}

tc-range-slider.range-slider-block {
  margin: 0.8rem 0 1.8rem !important;
  display: block;
  font-size: 0.7rem;
  line-height: 0;
}
