@import "../../styles/common";
.nft-bat-bid {
  background: #091d15;
  padding: 3rem 0 3rem;
  border-bottom: 2px solid #ea337f;
  .secHeading {
    font-size: 3rem;
    font-family: var(--impact) !important;
    color: #ffffff;
    margin: 0 0 3rem;
    line-height: 1.35;
    letter-spacing: 0.05rem;
    text-align: center;
    span {
      color: #ea337f;
      font-family: $nunito-sans;
      font-style: italic;
    }
  }
  ul.nft-bat-bid-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li.nft-bat-bid-items {
      width: 33.33%;
      padding: 0 2rem;
      @media screen and (max-width: 991px) {
        width: 50%;
      }
      @media screen and (max-width: 680px) {
        width: 100%;
        padding: 0 1rem;
      }
      .nft-bat-bid-box {
        width: 100%;
        position: relative;
        margin-top: 1rem;

        .waitlist {
          background: transparent;
          border: 2px solid #ea337f;
          border-radius: 0;
          color: #fff;
          line-height: 1.1;
          display: flex;
          box-shadow: inset 0px 0px 6px 0px #ea337f !important;
          font-family: $nunito-sans;
          letter-spacing: 1px;
          text-transform: var(--text-transform-upper);
          padding: 0.8rem 1rem;
          width: 100%;
          font-size: 0.8rem;
          transition: 0.3s all ease-in;
          margin-left: auto;
          margin-right: auto;
          justify-content: center;
          align-items: center;
          margin-bottom: 2.5rem;
          margin-top: 2rem;
          @media screen and (max-width: 480px) {
            max-width: 20rem;
          }
          &:hover {
            background: #ea337f;
            color: #000;
          }
        }
        .img-content-block {
          box-shadow: 0px 0px 2rem -0.2rem #ea337f;
          .img-block {
            width: 100%;
            // height: 25rem;
            img {
              width: 100%;
              height: auto;
              object-fit: contain;
              object-position: center;
            }
          }
          .content-block {
            padding: 1rem;
            background: #000;
            h4 {
              color: #fff;
              text-align: center;
              line-height: 1.4;
              font-family: $nunito-sans;
              font-size: 1rem;
              span {
                color: #ea337f;
                font-family: $nunito-sans;
                font-style: italic;
              }
            }
          }
        }
      }
    }
  }
}

.timer-title {
  color: #ea337f;
  font-family: $nunito-sans;
  font-style: italic;
  text-align: center;
  margin-top: 1.5rem;
}

.timer-counter {
  color: #ffffff;
  font-family: $nunito-sans;
  text-align: center;
}
