@import "../../../styles/common";

.section_callAction {
  background: #091d15;
  padding: 3rem 0 2rem;
  @media screen and (max-width: 767px) {
    padding: 4rem 0 2rem;
  }
  h2 {
    font-size: 2rem;
    font-family: var(--impact) !important;
    color: #ffffff;
    margin: 0 auto 3rem;
    line-height: 1.35;
    letter-spacing: 0.05rem;
    max-width: 34rem;
    @media screen and (max-width: 767px) {
      font-size: 2.2rem;
    }
    @media screen and (max-width: 480px) {
      font-size: 2rem;
    }
    .txt {
      color: #ea337f;
      font-family: $nunito-sans;
      display: flex;
      // @media screen and (max-width: 1023px) {
      //   display: block;
      // }
    }
  }
  .mediumTitle {
    font-family: var(--ck-font-montserrat);
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    font-weight: var(--font-weight-500);
    margin-top: 2rem;
    text-transform: uppercase;
    color: var(--ck-grey);
    margin-bottom: 3rem !important;
  }

  .one-line-form {
    border-bottom: 0.1rem solid #ea337f;
    border-radius: 0px;
    background: #44561000;
    max-width: 40rem;
    padding: 0.3rem 0;
    justify-content: center;
    width: 100%;
    margin: 2rem auto 0.5rem;
    display: flex;
    button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 12rem;
      font-size: 0.7rem;
      background: transparent;
      border: 2px solid #ea337f;
      border-radius: 0;
      color: #fff;
      line-height: 1.1;
      display: inline-flex;
      box-shadow: inset 0px 0px 6px 0px #ea337f !important;
      padding: 0.5rem 0.8rem;
      font-weight: var(--font-weight-600);
      font-family: $nunito-sans;
      line-height: 1.4;
      transition: 0.5s all ease-in;
      svg.arrow-icon {
        font-size: 1.2rem !important;
        @media screen and (max-width: 567px) {
          font-size: 1.5rem !important;
        }
      }
      @media screen and (max-width: 567px) {
        font-size: 0.6rem;
        max-width: 10rem;
        padding: 0 5px;
      }

      &:hover {
        background: #ea337f;
        color: #000;
      }
    }
    input {
      width: 100%;
      background: transparent;
      color: #fff;
      letter-spacing: 5.2px;
      border: none !important;
      outline: 0 !important;
      padding: 0 0.5rem;
      max-width: calc(100% - 12rem);
      @media screen and (max-width: 480px) {
        max-width: calc(100% - 8rem);
        font-size: 0.6rem !important;
      }
    }
  }

  .success-message {
    color: #ea337f !important;
    text-align: left !important;
    padding: 0rem !important;
    max-width: 40rem !important;
    margin: auto !important;
    font-size: 0.6rem !important;
    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}
